/*--------------
 google fonts 
---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*------------
 common css  
 ------------*/

body {
    font-family: 'Poppins', sans-serif;
}

.gaps-bot {
    margin-bottom: 100px;
}


/* header section start header */

.influencer-head {
    color: #3A3A3A;
    font-size: 24px;
    margin-left: 95px;
}


/* header section end header */


/* Journer Section start here */

.containar {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.heading {
    color: #3A3A3A;
}

.btn {
    padding: 10px 24px;
    border-radius: 41px;
    text-decoration: none;
    background-color: #E02C6D;
    font-size: 16px;
    border: none;
    transition: 1s;
}

.btn:hover {
    transform: scale(1.5) rotate(360deg);
}

.btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.fas {
    margin-left: 10px;
}

.camera {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}

.camera img {
    width: 440px;
    height: 414px;
}


/* Journer Section end here */


/* logo section start header */

hr {
    width: 1150px;
    height: 0px;
    color: rgba(128, 128, 128, 0.5);
}

.logo {
    width: 1150px;
    height: 40px;
    margin: 0 auto;
}

.logo img {
    margin-left: 40px;
}


/* logo section end header */


/* popular section start here */

.popular-containar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 1150px;
    height: 1662px;
    margin: 0 auto;
}

.popular-product {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 14px;
    border-radius: 5px;
}

.heading h2 {
    text-align: center;
    margin: 30px 0;
}

.fas {
    font-size: 14px;
}

.empty {
    color: gray;
}

.golde {
    color: #FB8200;
}

.see-more {
    text-align: right;
    width: 1150px;
}

.see-more a {
    color: #E02C6D;
    text-decoration: none;
    font-size: 18px;
}


/* popular section end here */


/* Login section start here  */

.login-head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1150px;
    height: 380px;
    /* margin-top: 50px; */
    margin: 40px auto;
}

.sing-in-pic img {
    border-radius: 10px;
}

.sing {
    margin-left: 260px;
    margin-top: 50px;
}

.e-border {
    border: none;
}

.horizental {
    width: 300px;
    height: 4px;
    background-color: #E02C6D;
    radius: 1px;
}

.sing-btn {
    color: white;
    background-color: #E02C6D;
    padding: 10px 100px;
    border-radius: 30px;
    border: none;
}


/* Login section start here */


/* footer section start here  */

footer {
    background-color: rgb(31, 3, 77);
    color: white;
    padding: 10px;
    text-align: center;
}

.fab {
    padding: 5px;
}


/* footer section start here  */


/*----------------------
 mediya quari section 
----------------------- */