/*--------------
 google fonts 
---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*------------
 common css  
 ------------*/

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1100px;
    margin: 0 auto;
}


/* header section start header */

.influencer-head {
    color: #3A3A3A;
    font-size: 24px;
}


/* header section end header */


/* Journer Section start here */

.influencer-product {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}

.heading {
    color: #3A3A3A;
}

.btn {
    padding: 10px 24px;
    border-radius: 41px;
    text-decoration: none;
    background-color: #E02C6D;
    font-size: 16px;
    border: none;
    transition: 1s;
}

.btn:hover {
    transform: scale(1.5) rotate(360deg);
}

.btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.fas {
    margin-left: 10px;
}

.camera img {
    width: 440px;
    height: 414px;
}


/* Journer Section end here */


/* logo section start header */

hr {
    max-width: 1150px;
    height: 0px;
    color: rgba(128, 128, 128, 0.5);
}

.logo {
    display: flex;
    justify-content: space-evenly;
}


/* logo section end header */


/* popular section start here */

.popular-containar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.popular-product {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 14px;
    border-radius: 5px;
}

.heading h2 {
    text-align: center;
    margin: 30px 0;
}

.fas {
    font-size: 14px;
}

.empty {
    color: gray;
}

.golde {
    color: #FB8200;
}

.see-more {
    text-align: right;
}

.see-more a {
    color: #E02C6D;
    text-decoration: none;
    font-size: 18px;
}


/* popular section end here */


/* Login section start here  */

.login-head {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.sing-in-pic img {
    border-radius: 10px;
}

.sing {
    margin-top: 50px;
}

.e-border {
    border: none;
}

.horizental {
    width: 300px;
    height: 4px;
    background-color: #E02C6D;
}

.sing-btn {
    color: white;
    background-color: #E02C6D;
    padding: 10px 100px;
    border-radius: 30px;
    border: none;
}


/* Login section start here */


/* footer section start here  */

footer {
    background-color: rgb(31, 3, 77);
    color: white;
    padding: 10px;
    text-align: center;
}

.fab {
    padding: 5px;
}


/* footer section start here  */


/*----------------------
 mediya quari section 
----------------------- */

@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }
    .influencer-product {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .camera>img {
        width: 90%;
    }
    .logo {
        flex-wrap: wrap;
    }
    .popular-containar {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .popular-product {
        width: 300px;
    }
    .login-head {
        flex-direction: column;
        align-items: center;
    }
}


/* tab responsive */

@media only screen and (min-width: 689px) and (max-width:992px) {
    .container {
        width: 100%;
    }
    .influencer-product {
        justify-content: space-between;
        margin: 0 20px;
    }
    .popular-containar {
        grid-template-columns: repeat(2, 1fr);
    }
    .see-more {
        margin-right: 20px;
    }
}